@import '../styles/vars.css';

.cursor {
    /* z-index: var(--z-cursor); */
    z-index: 1;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background-color: var(--c-purple);
    border: 1px solid var(--c-purple);
    opacity: 0.6;
    pointer-events: none;
    overflow: hidden;
    transform: (0,0,0);
    position: fixed;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}